@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	/* Reference name */
	font-family: 'Dosis';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/Dosis-VariableFont_wght.ttf');
}

:root [data-theme='gold-nouveau'] {
	--theme-font-family-base: 'Dosis', sans-serif;
	--theme-font-family-heading: 'Dosis', sans-serif;
	/* ... */
}
